:root{
    --primario: hsl(9, 69%, 24%);
    --azul: hsl(216, 98%, 52%);
    --negro: hsl(0, 0%, 13%);
    --blanco: hsl(0, 0%, 100%);
    --secundario: hsl(120, 100%, 25%);
    --terciario: hsl(120, 81%, 48%);
    --gris: hsla(0, 0%, 79%, 0.45);
    --error: hsl(0, 100%, 50%);
    --estrella: hsl(78, 100%, 50%);
  
  
    --textobase: "Poppins", sans-serif;
  
    
    --s: 8px;
    --m: 16px;
    --l: 24px;
    --xxl:48px;
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  body {
    background-image: url(https://www.kh13.com/uploads/monthly_2018_10/65ec68b8c6284deebaa347680f7c0b06.jpg.ab151c5ffb6dfa48fd7f37c670a21cbc.jpg);
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .navbar li span{
    color: #9b50d8;
  }
  
  .navbar{
    display: flex;
    align-items:center;
    justify-content:space-around;
  
    height: 14vh;
  }
  
  .navbar:hover .button{
    background-color: var(--blanco);
  }
  
  .navbar li{
    display: inline;
    padding: var(--l) var(--l);
    transition: 1s;
  }
  
  .navbar li:hover{
    border-radius: var(--m);
    border-bottom: var(--negro) 2px solid;
    border-top: var(--negro) 2px solid;
  }
  
  .navbar li span{
    color: var(--negro);
  }
  
  .button{
    padding: var(--m);
    border: var(--negro) 2px solid;
    border-radius: var(--s);
    background-color: var(--blanco);
    position: relative;
    transition: 1s;
  }
  
  .button a{
    color: var(--negro);
  }

  
  